.uuid
node_modules

# zsh
zsh/zsh/.zcompdump

# nvim
nvim/nvim/plugged
nvim/nvim/plugin

# tmux
tmux/.tmate.local.conf
tmux/.tmux/plugins
tmux/.tmux/resurrect

# git
git/git/.gitconfig_local

# fish

fish/.config/fish/*
!fish/.config/fish/aliases.fish
!fish/.config/fish/config.fish
!fish/.config/fish/fish_plugins
!fish/.config/fish/tokyonight.fish
!fish/.config/fish/deno.fish

fish/.config/fish/functions/*

