@import "~/.config/rofi/themes/aurore.rasi"

#window {
  width: 100%;
  height: 100%;
}

#element {
    border: 0px 0px 0px 0px;
    background-color: @background-light;
    border-color: @background-light;
    font: "Fira Code Nerd Font 14";
}
#element.selected.normal {
  border: 0 0 0 0;
  border-color: rgba(0,0,0,0);
}
